.khan__buy-link{
	height: 50px;
	transition: opacity .3s;
	line-height: 42px;
	font-size: 30px;
	font-weight: normal;
	text-decoration: none;
	color: #2f80ed;
	text-align: left;
}

.khan__buy-link:hover{
	opacity: .7;
}